<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>



<h2>Add new document</h2>
<div class="form-group">
	<%= form_for :article, url: home_create_path do |f| %>
		<p>
			<%= f.text_field :title, class: "form-control", placeholder: "Title"%>
		</p>

		<p>
			<%= f.text_field :author,  class: "form-control", placeholder: "Author"%>
		</p>

		<p>
			<%= f.text_area :text,  class: "form-control", placeholder: "Text" %>
		</p>

    <p>
      <%= f.file_field :image, class: "form-control", placeholder: "Image" %>
    </p>

	<br>
		<p>
			<%= button_tag(type: 'submit', class: "btn btn-success form-control") do %>

			 <i class="glyphicon glyphicon-floppy-disk"></i>  Save
			<% end %>
		</p>

	<% end %>
</div>
