<h2 align="center">Add new document</h2>
<div class="form-group container">
	<%= form_for :article, url: home_create_path do |f| %>
		<p>
			<%= f.text_field :title, class: "form-control", placeholder: "Title"%>
		</p>

		<p>
			<%= f.text_field :author,  class: "form-control", placeholder: "Author"%>
		</p>

		<p>
			<%= f.text_area :text,  class: "form-control", placeholder: "Text" %>
		</p>

    <p>
      <%= f.file_field :image, class: "btn btn-file", placeholder: "Image" %>
    </p>

	<br>
		<p>
			<%= button_tag(type: 'submit', class: "btn btn-success form-control") do %>

			 <i class="glyphicon glyphicon-floppy-disk"></i>  Save
			<% end %>
		</p>

	<% end %>
</div>
