<h1 class ="header" align="center">News</h1>
<br>
<br>
<div class="container">
  <% @articles.each do |article| %>
  <div>
    <div class="inline-news-left">
      <h2><%= article["title"] %></h2>
      <p vertical-align="middle"><%= article["text"]%></p>
      <p>Author: <%= article["author"]%></p>
    </div>
    <div class="inline-news-right" >
      <img style="width:128%; height:72%" src= <%= image_url(article["_id"]) %>/>
    </div>
    <hr>
    <div>
      Comments:
      <ul id="comments<%= article["_id"] %>">
      <% article["comments"].each do |comment| %>
        <li>[<%=comment["timestamp"].localtime.strftime("%a %b %d %Y %H:%M")%>] => <%= comment["text"] %> </li>
      <% end %>
    </ul>

    <div class="input-group" style="width:50%">
      <input onkeypress="klik(event, '<%= article["_id"] %>')" id="com<%= article["_id"]%>" type="text" class="form-control">
      <span class="input-group-btn">
        <input class="btn btn-default" type="submit" onClick="submit('<%= article["_id"] %>')" value="Post"/>
      </span>
    </div>
    </div>
    <hr>
    <hr>
  </div>
  <% end %>
</div>
