<div class="container">
  <div class="page-header">
    <h1 class ="header" >NewsPortal</h1>
  </div>
</div>
<br>
<br>
<div class="container">
    Sort by &nbsp;
    <select id="sortSelect" onChange="selectSort()">
      <option value="time" >Time</option>
      <option value="noOfComments">Number of comments</option>
    </select>
</div>
<div class="container">
  <% @articles.each do |article| %>
  <div>
    <div class="inline-news-left">
      <h2><%= article["title"] %></h2>
      <p vertical-align="middle"><%= article["text"]%></p>

    </div>
    <div class="inline-news-right" >
      <img style="width:128%; height:72%" src= <%= image_url(article["_id"]) %>/>
    </div>
    <p>
      <span id="<%= article["author"].gsub(/\s/, '_')%>_<%= article["_id"] %>_button" onClick="authorsWordCount(id)" class="glyphicon glyphicon-chevron-right"/>
      Author: <%= article["author"]%>
    </p>
    <div id="<%= article["author"].gsub(/\s/, '_')%>_<%= article["_id"] %>" style="display:none">
      &nbsp; &nbsp;&nbsp; <u>Top 10 words for this author:</u>
      <div class = "<%= article["author"].gsub(/\s/, '_')%> word-list"></div>
    </div>
    <hr>
    <div>
      Comments:
      <ul id="comments<%= article["_id"] %>">
      <% article["comments"].each do |comment| %>
        <li>[<%=comment["timestamp"].localtime.strftime("%a %b %d %Y %H:%M")%>] => <%= comment["text"] %> </li>
      <% end %>
    </ul>

    <div class="input-group" style="width:50%">
      <input onkeypress="klik(event, '<%= article["_id"] %>')" id="com<%= article["_id"]%>" type="text" class="form-control">
      <span class="input-group-btn">
        <input class="btn btn-default" type="submit" onClick="submit('<%= article["_id"] %>')" value="Post"/>
      </span>
    </div>
    </div>
    <hr>
    <hr>
  </div>
  <% end %>
</div>
